# Question 1. Knowing docker tags

Which tag has the following text? - Write the image ID to the file

In [58]:
!docker build --help | findstr "Write"

      --iidfile string          Write the image ID to the file

# Question 2. Understanding docker first run

Run docker with the python:3.9 image in an interactive mode and the entrypoint of bash. 

Now check the python modules that are installed ( use pip list). How many python packages/modules are installed?

In [34]:
!docker run --rm python:3.9 python -c "import os;os.system('pip list')"

Package    Version
---------- -------
pip        22.0.4
setuptools 58.1.0
wheel      0.38.4

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.

# Prepare Postgres

## download data

In [42]:
# download datasets
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-30 21:59:24--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230130T145924Z&X-Amz-Expires=300&X-Amz-Signature=00c9590566c1d151d0fe17ca0b3ac8248bf4822a9d06fce3919640164ef3a5dc&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-30 21:59:24--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230130T145924Z&X-Amz-Expires=300&X-Amz-Signature=00c9590566c1d151d0fe17ca0b3ac8248bf4822a9d06fce3919640164ef3a5dc&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: 'green_tripdata_2019-01.csv.gz'

     0K .......... .......... .......... .......... ..........  0% 4.86M 2s
    50K .......... .......... .......... .......... ..........  0% 3.37M 3s
   100K .......... .......... .......... .......... ..........  1% 3.02M 3s
   150K .......... .......... .......... .......... ..........  1% 1.82M 4s
   200K .......... .......... .......... .......... ..........  2% 2.58M 4s
   250K .......... .......... .......... .......... ..........  2% 1.18M 4s
   300K .......... .......... .......... .......... ..........  3% 1.96M 5s
   350K .......... .......... .......... .......... ..........  3%  894K 5s
   400K .......... .......... .......... .......... ..........  4% 2.56M 5s
   450K .......... .......... .......... .......... ..........  4% 2.39M 5s
   500K .......... .......... .......... .......... ..........  5% 1.92M 5s
   550K .......... .......... .......... .......... ..........  5% 7.22M 5s
   600K .......... .......... .......... .......... ..........  5% 1.00M 5s
   650K .......... .......... .......... .......... ..........  6% 1.74M 5s
   700K .......... .......... .......... .......... ..........  6% 4.25M 5s
   750K .......... .......... .......... .......... ..........  7% 1.72M 5s
   800K .......... .......... .......... .......... ..........  7% 1.98M 5s
   850K .......... .......... .......... .......... ..........  8% 2.65M 5s
   900K .......... .......... .......... .......... ..........  8% 3.22M 5s
   950K .......... .......... .......... .......... ..........  9% 2.29M 5s
  1000K .......... .......... .......... .......... ..........  9% 2.27M 5s
  1050K .......... .......... .......... .......... .......... 10% 2.39M 5s
  1100K .......... .......... .......... .......... .......... 10% 2.79M 5s
  1150K .......... .......... .......... .......... .......... 11% 1.60M 5s
  1200K .......... .......... .......... .......... .......... 11% 1.72M 5s
  1250K .......... .......... .......... .......... .......... 11%  959K 5s
  1300K .......... .......... .......... .......... .......... 12% 2.07M 5s
  1350K .......... .......... .......... .......... .......... 12% 3.18M 5s
  1400K .......... .......... .......... .......... .......... 13% 2.28M 5s
  1450K .......... .......... .......... .......... .......... 13% 1.54M 5s
  1500K .......... .......... .......... .......... .......... 14% 1.86M 5s
  1550K .......... .......... .......... .......... .......... 14% 2.10M 5s
  1600K .......... .......... .......... .......... .......... 15% 2.63M 4s
  1650K .......... .......... .......... .......... .......... 15% 1.60M 5s
  1700K .......... .......... .......... .......... .......... 16% 3.46M 4s
  1750K .......... .......... .......... .......... .......... 16% 3.00M 4s
  1800K .......... .......... .......... .......... .......... 17% 4.79M 4s
  1850K .......... .......... .......... .......... .......... 17% 3.68M 4s
  1900K .......... .......... .......... .......... .......... 17% 2.36M 4s
  1950K .......... .......... .......... .......... .......... 18% 2.16M 4s
  2000K .......... .......... .......... .......... .......... 18% 2.72M 4s
  2050K .......... .......... .......... .......... .......... 19% 2.83M 4s
  2100K .......... .......... .......... .......... .......... 19% 3.70M 4s
  2150K .......... .......... .......... .......... .......... 20% 2.10M 4s
  2200K .......... .......... .......... .......... .......... 20% 3.35M 4s
  2250K .......... .......... .......... .......... .......... 21% 6.33M 4s
  2300K .......... .......... .......... .......... .......... 21% 2.86M 4s
  2350K .......... .......... .......... .......... .......... 22% 2.28M 4s
  2400K .......... .......... .......... .......... .......... 22% 2.52M 4s
  2450K .......... .......... .......... .......... .......... 23% 1.52M 4s
  2500K .......... .......... .......... .......... .......... 23% 35.3M 4s
  2550K .......... .......... .......... .......... .......... 23% 2.50M 4s
  2600K .......... .......... .......... .......... .......... 24% 2.99M 4s
  2650K .......... .......... .......... .......... .......... 24% 2.77M 4s
  2700K .......... .......... .......... .......... .......... 25% 4.90M 3s
  2750K .......... .......... .......... .......... .......... 25% 1002K 4s
  2800K .......... .......... .......... .......... .......... 26% 5.50M 3s
  2850K .......... .......... .......... .......... .......... 26% 2.29M 3s
  2900K .......... .......... .......... .......... .......... 27% 2.13M 3s
  2950K .......... .......... .......... .......... .......... 27%  206M 3s
  3000K .......... .......... .......... .......... .......... 28% 3.53M 3s
  3050K .......... .......... .......... .......... .......... 28% 4.52M 3s
  3100K .......... .......... .......... .......... .......... 29% 2.10M 3s
  3150K .......... .......... .......... .......... .......... 29% 2.58M 3s
  3200K .......... .......... .......... .......... .......... 29% 4.54M 3s
  3250K .......... .......... .......... .......... .......... 30% 3.07M 3s
  3300K .......... .......... .......... .......... .......... 30% 3.84M 3s
  3350K .......... .......... .......... .......... .......... 31% 3.97M 3s
  3400K .......... .......... .......... .......... .......... 31% 2.51M 3s
  3450K .......... .......... .......... .......... .......... 32% 3.65M 3s
  3500K .......... .......... .......... .......... .......... 32% 1.95M 3s
  3550K .......... .......... .......... .......... .......... 33%  908K 3s
  3600K .......... .......... .......... .......... .......... 33% 17.2M 3s
  3650K .......... .......... .......... .......... .......... 34% 1.45M 3s
  3700K .......... .......... .......... .......... .......... 34% 4.12M 3s
  3750K .......... .......... .......... .......... .......... 35% 1.32M 3s
  3800K .......... .......... .......... .......... .......... 35% 1.51M 3s
  3850K .......... .......... .......... .......... .......... 35% 2.92M 3s
  3900K .......... .......... .......... .......... .......... 36% 1.89M 3s
  3950K .......... .......... .......... .......... .......... 36% 1.56M 3s
  4000K .......... .......... .......... .......... .......... 37% 4.04M 3s
  4050K .......... .......... .......... .......... .......... 37% 1.73M 3s
  4100K .......... .......... .......... .......... .......... 38% 2.78M 3s
  4150K .......... .......... .......... .......... .......... 38% 2.83M 3s
  4200K .......... .......... .......... .......... .......... 39% 2.27M 3s
  4250K .......... .......... .......... .......... .......... 39% 1.60M 3s
  4300K .......... .......... .......... .......... .......... 40% 2.57M 3s
  4350K .......... .......... .......... .......... .......... 40% 2.13M 3s
  4400K .......... .......... .......... .......... .......... 41% 5.18M 3s
  4450K .......... .......... .......... .......... .......... 41% 3.81M 3s
  4500K .......... .......... .......... .......... .......... 41% 2.24M 3s
  4550K .......... .......... .......... .......... .......... 42% 1.81M 3s
  4600K .......... .......... .......... .......... .......... 42% 2.58M 3s
  4650K .......... .......... .......... .......... .......... 43% 3.57M 3s
  4700K .......... .......... .......... .......... .......... 43% 5.48M 3s
  4750K .......... .......... .......... .......... .......... 44% 3.16M 3s
  4800K .......... .......... .......... .......... .......... 44% 3.49M 2s
  4850K .......... .......... .......... .......... .......... 45% 3.14M 2s
  4900K .......... .......... .......... .......... .......... 45% 3.65M 2s
  4950K .......... .......... .......... .......... .......... 46% 4.01M 2s
  5000K .......... .......... .......... .......... .......... 46% 2.50M 2s
  5050K .......... .......... .......... .......... .......... 47% 4.99M 2s
  5100K .......... .......... .......... .......... .......... 47% 2.75M 2s
  5150K .......... .......... .......... .......... .......... 47% 1.67M 2s
  5200K .......... .......... .......... .......... .......... 48% 2.44M 2s
  5250K .......... .......... .......... .......... .......... 48% 2.93M 2s
  5300K .......... .......... .......... .......... .......... 49% 4.13M 2s
  5350K .......... .......... .......... .......... .......... 49% 3.81M 2s
  5400K .......... .......... .......... .......... .......... 50% 3.71M 2s
  5450K .......... .......... .......... .......... .......... 50% 4.04M 2s
  5500K .......... .......... .......... .......... .......... 51% 3.04M 2s
  5550K .......... .......... .......... .......... .......... 51% 2.30M 2s
  5600K .......... .......... .......... .......... .......... 52% 2.53M 2s
  5650K .......... .......... .......... .......... .......... 52% 3.58M 2s
  5700K .......... .......... .......... .......... .......... 53% 4.19M 2s
  5750K .......... .......... .......... .......... .......... 53% 2.17M 2s
  5800K .......... .......... .......... .......... .......... 53% 2.01M 2s
  5850K .......... .......... .......... .......... .......... 54% 1.25M 2s
  5900K .......... .......... .......... .......... .......... 54%  294M 2s
  5950K .......... .......... .......... .......... .......... 55% 6.04M 2s
  6000K .......... .......... .......... .......... .......... 55% 3.88M 2s
  6050K .......... .......... .......... .......... .......... 56% 4.41M 2s
  6100K .......... .......... .......... .......... .......... 56% 3.73M 2s
  6150K .......... .......... .......... .......... .......... 57% 4.23M 2s
  6200K .......... .......... .......... .......... .......... 57% 3.10M 2s
  6250K .......... .......... .......... .......... .......... 58% 1.60M 2s
  6300K .......... .......... .......... .......... .......... 58% 2.52M 2s
  6350K .......... .......... .......... .......... .......... 59% 2.77M 2s
  6400K .......... .......... .......... .......... .......... 59% 3.19M 2s
  6450K .......... .......... .......... .......... .......... 59% 3.58M 2s
  6500K .......... .......... .......... .......... .......... 60% 4.02M 2s
  6550K .......... .......... .......... .......... .......... 60% 1.40M 2s
  6600K .......... .......... .......... .......... .......... 61% 3.06M 2s
  6650K .......... .......... .......... .......... .......... 61% 2.25M 2s
  6700K .......... .......... .......... .......... .......... 62% 2.98M 2s
  6750K .......... .......... .......... .......... .......... 62% 2.37M 2s
  6800K .......... .......... .......... .......... .......... 63% 4.06M 2s
  6850K .......... .......... .......... .......... .......... 63% 1.51M 2s
  6900K .......... .......... .......... .......... .......... 64% 6.81M 2s
  6950K .......... .......... .......... .......... .......... 64% 3.09M 2s
  7000K .......... .......... .......... .......... .......... 65% 2.52M 1s
  7050K .......... .......... .......... .......... .......... 65% 5.50M 1s
  7100K .......... .......... .......... .......... .......... 65% 1.83M 1s
  7150K .......... .......... .......... .......... .......... 66% 5.13M 1s
  7200K .......... .......... .......... .......... .......... 66% 3.65M 1s
  7250K .......... .......... .......... .......... .......... 67% 4.29M 1s
  7300K .......... .......... .......... .......... .......... 67% 3.00M 1s
  7350K .......... .......... .......... .......... .......... 68% 4.55M 1s
  7400K .......... .......... .......... .......... .......... 68% 1.24M 1s
  7450K .......... .......... .......... .......... .......... 69% 2.27M 1s
  7500K .......... .......... .......... .......... .......... 69% 2.72M 1s
  7550K .......... .......... .......... .......... .......... 70% 2.14M 1s
  7600K .......... .......... .......... .......... .......... 70% 1.89M 1s
  7650K .......... .......... .......... .......... .......... 71% 3.33M 1s
  7700K .......... .......... .......... .......... .......... 71% 3.03M 1s
  7750K .......... .......... .......... .......... .......... 71% 5.19M 1s
  7800K .......... .......... .......... .......... .......... 72% 3.77M 1s
  7850K .......... .......... .......... .......... .......... 72% 3.19M 1s
  7900K .......... .......... .......... .......... .......... 73% 4.00M 1s
  7950K .......... .......... .......... .......... .......... 73% 1.80M 1s
  8000K .......... .......... .......... .......... .......... 74% 5.47M 1s
  8050K .......... .......... .......... .......... .......... 74% 2.77M 1s
  8100K .......... .......... .......... .......... .......... 75% 2.19M 1s
  8150K .......... .......... .......... .......... .......... 75% 3.35M 1s
  8200K .......... .......... .......... .......... .......... 76% 2.53M 1s
  8250K .......... .......... .......... .......... .......... 76% 1.99M 1s
  8300K .......... .......... .......... .......... .......... 77% 8.76M 1s
  8350K .......... .......... .......... .......... .......... 77% 2.83M 1s
  8400K .......... .......... .......... .......... .......... 77% 3.30M 1s
  8450K .......... .......... .......... .......... .......... 78% 3.58M 1s
  8500K .......... .......... .......... .......... .......... 78% 3.94M 1s
  8550K .......... .......... .......... .......... .......... 79% 3.38M 1s
  8600K .......... .......... .......... .......... .......... 79% 3.34M 1s
  8650K .......... .......... .......... .......... .......... 80% 3.17M 1s
  8700K .......... .......... .......... .......... .......... 80% 4.10M 1s
  8750K .......... .......... .......... .......... .......... 81% 3.02M 1s
  8800K .......... .......... .......... .......... .......... 81% 3.18M 1s
  8850K .......... .......... .......... .......... .......... 82% 2.81M 1s
  8900K .......... .......... .......... .......... .......... 82% 1.65M 1s
  8950K .......... .......... .......... .......... .......... 83% 3.01M 1s
  9000K .......... .......... .......... .......... .......... 83% 3.04M 1s
  9050K .......... .......... .......... .......... .......... 83% 3.86M 1s
  9100K .......... .......... .......... .......... .......... 84% 2.84M 1s
  9150K .......... .......... .......... .......... .......... 84% 2.91M 1s
  9200K .......... .......... .......... .......... .......... 85% 2.16M 1s
  9250K .......... .......... .......... .......... .......... 85% 3.29M 1s
  9300K .......... .......... .......... .......... .......... 86% 3.90M 1s
  9350K .......... .......... .......... .......... .......... 86% 3.25M 1s
  9400K .......... .......... .......... .......... .......... 87% 3.32M 1s
  9450K .......... .......... .......... .......... .......... 87% 3.70M 1s
  9500K .......... .......... .......... .......... .......... 88% 1.92M 0s
  9550K .......... .......... .......... .......... .......... 88% 2.22M 0s
  9600K .......... .......... .......... .......... .......... 89% 3.51M 0s
  9650K .......... .......... .......... .......... .......... 89% 3.22M 0s
  9700K .......... .......... .......... .......... .......... 89% 3.99M 0s
  9750K .......... .......... .......... .......... .......... 90% 2.62M 0s
  9800K .......... .......... .......... .......... .......... 90% 5.58M 0s
  9850K .......... .......... .......... .......... .......... 91% 2.01M 0s
  9900K .......... .......... .......... .......... .......... 91% 2.04M 0s
  9950K .......... .......... .......... .......... .......... 92% 3.06M 0s
 10000K .......... .......... .......... .......... .......... 92% 1.44M 0s
 10050K .......... .......... .......... .......... .......... 93% 26.5M 0s
 10100K .......... .......... .......... .......... .......... 93% 1.71M 0s
 10150K .......... .......... .......... .......... .......... 94% 11.4M 0s
 10200K .......... .......... .......... .......... .......... 94% 2.61M 0s
 10250K .......... .......... .......... .......... .......... 95% 4.76M 0s
 10300K .......... .......... .......... .......... .......... 95% 2.31M 0s
 10350K .......... .......... .......... .......... .......... 95% 2.36M 0s
 10400K .......... .......... .......... .......... .......... 96% 2.64M 0s
 10450K .......... .......... .......... .......... .......... 96% 5.56M 0s
 10500K .......... .......... .......... .......... .......... 97% 3.45M 0s
 10550K .......... .......... .......... .......... .......... 97% 4.01M 0s
 10600K .......... .......... .......... .......... .......... 98% 3.35M 0s
 10650K .......... .......... .......... .......... .......... 98% 2.89M 0s
 10700K .......... .......... .......... .......... .......... 99% 2.48M 0s
 10750K .......... .......... .......... .......... .......... 99% 2.69M 0s
 10800K .......... .......... .......... .........            100% 4.17M=4.0s

2023-01-30 21:59:29 (2.63 MB/s) - 'green_tripdata_2019-01.csv.gz' saved [11099245/11099245]

In [43]:
# download lookup table
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-30 21:59:53--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.162.224, 52.216.243.174, 52.216.54.64, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.162.224|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 50.5M=0s

2023-01-30 21:59:54 (50.5 MB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

## upload data to postgres

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [47]:
trip_df = pd.read_csv("green_tripdata_2019-01.csv.gz")
zone_df = pd.read_csv("taxi+_zone_lookup.csv")

In [48]:
trip_df.lpep_pickup_datetime = pd.to_datetime(trip_df.lpep_pickup_datetime)
trip_df.lpep_dropoff_datetime = pd.to_datetime(trip_df.lpep_dropoff_datetime)

### create postgres connection

In [2]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

### updata to postgres

In [53]:
trip_df.to_sql(name='green_tripdata', con=engine, index=False)

918

In [54]:
zone_df.to_sql(name='zone', con=engine, index=False)

265

# Question 3. Count records
How many taxi trips were totally made on January 15?

In [12]:
query = """SELECT count(*)
	FROM green_tripdata 
	WHERE DATE(lpep_pickup_datetime) = date '2019-01-15' 
	AND DATE(lpep_dropoff_datetime) = date '2019-01-15'
"""

pd.read_sql(query , con= engine)

   count
0  20530

# Question 4. Largest trip for each day

Which was the day with the largest trip distance Use the pick up time for your calculations.

In [27]:
query = """
    SELECT 
        DATE(lpep_pickup_datetime) , SUM(trip_distance)
	FROM green_tripdata 
	WHERE 
        DATE(lpep_pickup_datetime) IN (date '2019-01-18',date '2019-01-28',date '2019-01-15',date '2019-01-10')
    GROUP BY 1;
"""

pd.read_sql(query , con= engine)

         date       sum
0  2019-01-18  76829.36
1  2019-01-15  74856.26
2  2019-01-10  79530.83
3  2019-01-28  74053.50

# Question 5. The number of passengers
In 2019-01-01 how many trips had 2 and 3 passengers?

In [19]:
query = """
    SELECT 
       passenger_count , count(*)
	FROM green_tripdata 
    WHERE DATE(lpep_pickup_datetime) = '2019-01-01'
    GROUP BY 1;
"""

pd.read_sql(query , con= engine)

   passenger_count  count
0                0     21
1                1  12415
2                2   1282
3                3    254
4                4    129
5                5    616
6                6    273

# Question 6. Largest tip
For the passengers picked up in the **Astoria** Zone which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

In [40]:
query = """
    SELECT * FROM zone;

"""

pd.read_sql(query , con= engine)

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV         None
264         265        Unknown                     None         None

[265 rows x 4 columns]

In [45]:
query = """
    SELECT 
        "Zone",
        MAX(tip_amount)
    FROM green_tripdata g
    LEFT JOIN zone z
    ON g."DOLocationID" = z."LocationID"
    WHERE
        "PULocationID" = (SELECT "LocationID" FROM zone WHERE "Zone" = 'Astoria')
    GROUP BY 1
	ORDER BY 2 DESC
	LIMIT 1;
"""

pd.read_sql(query , con= engine)

                            Zone   max
0  Long Island City/Queens Plaza  88.0